<table border="0" width="100%">
<tr>
<td colspan="4">
<h1 align="center">Editando Usuario</h1>
</td>
</tr>
<%= render 'form' %>
<tr>
<td>
<%= link_to 'Mostrar', @user %> |
<%= link_to 'Atras', users_path %>
</td>
</tr>
</table>